
/***************************************Navigation***********************************************/
#navbar
{
    flex-direction: column;
}

#navbar ul li
{
    list-style: none;
    font-size: 1rem;
}

#navbar ul li a
{
    padding: 4px 7px;
}
#navbar ul li a:hover
{
    padding: 4px 7px;
}

.btn
{
    font-size: 0.6rem;
}

/* Home section */
#home
{
    height:280px;
    padding: 3px 68px;
    
}
#home::before
{
    height: 499px;
}

#home p
{
    font-size: 13px;
}


/**************************************service section*******************************************/
#services
{
    flex-direction: column;
    margin:8px;
}

#services .box img 
{
    display: block;
    height: 130px;
    margin: auto;
}

/**************************************CLIENT SECTION*******************************************/
#clients img 
{
    height: 87px;
}

#clients
{
    overflow: hidden;
    flex-wrap: wrap;
}
#four
{
    width: 142px;
    height: 55px;
}
.client-item
 {
    padding: 3px;
    width: 134px;
    height: 128px;
}

#client-section::before
{
    content:"";
    position: absolute;
    background:url('./img/bg.jpg');
    /* width:100%;
    height:100%; */
    background-size: contain;
    z-index:-1;
    opacity:0.4;
}

/*contact us section*/
#contact-box form {
    width: 78%;
    margin-right: 21px;
}

#contact-box label {
    font-size: 1.1rem;
    font-family: 'Bree Serif', serif;
}

#contact-box input, #contact-box textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 0.7rem;
}
/* footer */

#pritamdas {
    font-family: 'Bree Serif', serif;
    padding: 47px 11vw;
    text-align: center;
}


/* utility classes */
.h-primary
{
    font-size:26px;
}

.h-secondary {
    font-size: 1.5rem;
    padding: 12px;
    font-family: 'Bree Serif', serif;
}